@{
    ViewBag.Title = "Payroll";
}

<br /><br />
<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a asp-controller="Project" asp-action="Delete"
               class="list-group-item">Delete</a>
            <a asp-controller="Project" asp-action="Add"
               class="list-group-item">Add</a>
            <a asp-controller="Project" asp-action="Update"
               class="list-group-item">Update</a>
            <a asp-controller="Project" asp-action="List"
               class="list-group-item">"Payroll Manager"</a>
        </div>
    </div>
</div>