@{
    ViewBag.Title = "About";
}
<header class="bg-primary text-white text-center">
    <h1 class="m-3 p-3">Our Purpose</h1>
</header><p>Our company wants to ensure all employees are receiving fair pay for their work. We created this payroll system to keep track of each employee's project assignments and salary. Employees are able to use this sytem to track what assignments they have been assigned to.</p>

<p>Feel free to come to management with any questions.</p>
