@model List<Employee>
@{
    ViewBag.Title = "My Account";
}
<div class="col-sm-12">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>My Information</th>
        </thead>
        <tbody>
            <tr>
                <td>Username: </td>
                <td>Employee ID: </td>
                <td>Employee Title: </td>
            </tr>
            <tr>
                <td>First Name: </td>
                <td>Last Name: </td>
            </tr>
            <tr>
                <td>Department ID: </td>
                <td>Department: </td>
            </tr>
            <tr>
                <td>Address: </td>
                <td>City: </td>
                <td>State: </td>
                <td>Zip Code: </td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<br />
<div class="col-sm-12">
    <header class="bg-primary text-white text-center">
        <h1 class="m-3 p-3">My Projects</h1>
    </header>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Assigned</th>
                <th>Due Date</th>
        </thead>
        <tbody>
            <tr>
            </tr>
        </tbody>
    </table>
</div>