@{
    ViewBag.Title = "My Time Off";
}
<a asp-action="RequestTime"><b>Request Time Off</b></a>
<p>A confirmation email will be sent to you once your requested time off has been approved.</p>

<div class="col-sm-12">
    <header class="bg-primary text-white text-center">
        <h1 class="m-3 p-3">Submitted Requests</h1>
    </header>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Submission Date: </th>
                <th>Requested Time Period </th>
                <th>Status: </th>

        </thead>
        <tbody>
            <tr>
            </tr>
        </tbody>
    </table>
</div>