@{
    ViewBag.Title = "My Payroll";
}

<div class="col-sm-12">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date Paid</th>
                <th>Pay Period</th>
                <th>Hours Worked</th>
                <th>Amount Paid</th>
        </thead>
        <tbody>
            <tr>
            </tr>
        </tbody>
    </table>
</div>