@model Employee
@{
    ViewBag.Title = "Delete Existing Employee";
}
<h1> Confirm Deletion</h1>
<h3>@Model.FirstName</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="EmployeeID" />

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="List" class="btn btn-secondary">Cancel</a>
</form>