@{
    ViewBag.Title = "Employee";
}

<br /><br />
<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a asp-controller="Employee" asp-action="Register"
               class="list-group-item">Register New Employee</a>
            <a asp-controller="Employee" asp-action="Modify"
               class="list-group-item">Modify Employee Information</a>
            <a asp-controller="Employee" asp-action="Delete"
               class="list-group-item">Delete Existing Employee</a>
             <a asp-controller="Employee" asp-action="List"
               class="list-group-item">Employee Manager</a>
        </div>
    </div>
</div>